form {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #d3e2e5;

    overflow: hidden;

    border-radius: 2rem;

    padding: 8rem;
}

fieldset{
    border: none;

}

fieldset legend{
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5rem;
    color: #5c8599;
    font-weight: 700;

    border-bottom: 1px solid  #d3e2e5;
    margin-bottom: 4rem;
    padding-bottom: 2.4rem;
}

fieldset + fieldset{
    margin-top: 8rem;
}

.input-block + .input-block{
    margin-top: 2.4rem;
}

.input-block label{
    color:#8FA7B3;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5rem;
    font-family: 'Nunito', sans-serif;

    margin-bottom: 1.8rem;
}

.input-block span{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #8FA7B3;
    margin-left: 4rem;
}

.input-block input, .input-block textarea {
    width: 100%;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;
}

.input-block input{
    width: 54.8rem;
    height: 6.4rem;
    left: 49.4rem;
    top: 63.1rem;
}

.input-block input:valid,
.input-block textarea:valid {
    border: 1px solid #a1e9c5;
}

.input-block .empty{
    border: 2px solid #8B0000;
}

.input-block textarea{
    width: 54.8rem;
    height: 12.0rem;
    left: 49.4rem;
    top: 74.9rem;

    resize: vertical;

}

.input-block.images button{
    width: 100%;
    height: 6.4rem;
    left: 49.4rem;
    top: 111.7rem;
    background: #F5F8FA;
    border: 1px dashed #96D2F0;
    box-sizing: border-box;
    border-radius: 2rem;    

    margin-top: 1rem;

    cursor: pointer;
}


fieldset + fieldset button.send-form{
    margin-top: 6.4rem;
    width: 100%;
    height: 6.4rem;
    border: none;

    cursor: pointer;

    background: #37C77F;

    border-radius: 2rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: backgroud-color .2s;

}

button.send-form:hover{
    background: #36cf82;
}

.input-select{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.input-select button{
    height: 6.4rem;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    color: #5c8599;
    cursor: pointer;
}

.input-select button.active{
    background: #edfff6;
    border: 1px solid #a1e9c5;
    color: #37c77f;
}


.input-select button:first-child{
    border-radius: 2rem 0 0 2rem;
}

.input-select button:last-child{
    border-radius: 0 2rem 2rem 0;
}

.new-uploads{
    position: relative;
}

.new-uploads span {
    position: absolute;
    right: 12px;
    bottom: 10px;

    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 10px;

    padding: .6rem;

    display: flex;

    cursor: pointer;
}

.new-upload + .new-upload{
    margin-top: 2.4rem;
}




