<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--Tag de adaptacao da pagina a 
            diversos dispositivos, tag de responsividade-->
        <title>Localizacoes de Lares de Atendimento | Happy</title>
        <link rel="icon" href="/images/logo-icon.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/animations.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/page-orphanages.css">
        
    </head>
    <body id="body">
        <div id="page-orphanages">
            <aside class="animate-right"><!--Elemento que contera a barra lateral da pagina-->
                <header>
                    <img src="/images/map-marker.svg" alt="Logo do Happy">

                    <h2>Escolha um Lar de Atendimento no Mapa</h2>

                    <p>Muitas criancas estao esperado sua visita :)</p>

                </header>

                <footer>
                    <strong>Rio de janeiro</strong>
                    <p>RJ</p>
                </footer>
            </aside>

            <div id="mapid" class="animate-appear"></div><!--Elemento generico que contera o mapa de localizacao-->

            {{#each orphanages}}
                <span hidden 
                    data-id="{{this.id}}"
                    data-name="{{this.name}}"
                    data-lat="{{this.location.lat}}"
                    data-lng="{{this.location.lng}}"
                ></span>

            {{/each}}

                <a href="/createOrphanage" class="create-orphanage" title="Cadastre um orfanato">
                    <img src="/images/plus.svg" alt="Cria orfanato">
                </a>
            
        </div>

    </body>
    <script src="./page-orphanages.js"></script>
</html>